**Loading the Dataset**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Reviews.csv')

In [3]:
data

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

**Cleaning the Dataset**

In [4]:
data_cleaned = data.drop(['Id','HelpfulnessNumerator', 'HelpfulnessDenominator' , 'Time' , 'Summary' , 'Text' , 'ProfileName'],axis=1)

In [5]:
data_cleaned

         ProductId          UserId  Score
0       B001E4KFG0  A3SGXH7AUHU8GW      5
1       B00813GRG4  A1D87F6ZCVE5NK      1
2       B000LQOCH0   ABXLMWJIXXAIN      4
3       B000UA0QIQ  A395BORC6FGVXV      2
4       B006K2ZZ7K  A1UQRSCLF8GW1T      5
...            ...             ...    ...
568449  B001EO7N10  A28KG5XORO54AY      5
568450  B003S1WTCU  A3I8AFVPEE8KI5      2
568451  B004I613EE  A121AA1GQV751Z      5
568452  B004I613EE   A3IBEVCTXKNOH      5
568453  B001LR2CU2  A3LGQPJCZVL9UC      5

[568454 rows x 3 columns]

In [6]:
data_cleaned.columns = ['ProductId' , 'ReviewerId', 'Score']

In [7]:
data_cleaned

         ProductId      ReviewerId  Score
0       B001E4KFG0  A3SGXH7AUHU8GW      5
1       B00813GRG4  A1D87F6ZCVE5NK      1
2       B000LQOCH0   ABXLMWJIXXAIN      4
3       B000UA0QIQ  A395BORC6FGVXV      2
4       B006K2ZZ7K  A1UQRSCLF8GW1T      5
...            ...             ...    ...
568449  B001EO7N10  A28KG5XORO54AY      5
568450  B003S1WTCU  A3I8AFVPEE8KI5      2
568451  B004I613EE  A121AA1GQV751Z      5
568452  B004I613EE   A3IBEVCTXKNOH      5
568453  B001LR2CU2  A3LGQPJCZVL9UC      5

[568454 rows x 3 columns]

In [8]:
has_null = data_cleaned.isnull()

In [9]:
has_null

        ProductId  ReviewerId  Score
0           False       False  False
1           False       False  False
2           False       False  False
3           False       False  False
4           False       False  False
...           ...         ...    ...
568449      False       False  False
568450      False       False  False
568451      False       False  False
568452      False       False  False
568453      False       False  False

[568454 rows x 3 columns]

In [10]:
data_cleaned = data_cleaned.dropna(subset=['ProductId','ReviewerId','Score'])

In [11]:
data_cleaned

         ProductId      ReviewerId  Score
0       B001E4KFG0  A3SGXH7AUHU8GW      5
1       B00813GRG4  A1D87F6ZCVE5NK      1
2       B000LQOCH0   ABXLMWJIXXAIN      4
3       B000UA0QIQ  A395BORC6FGVXV      2
4       B006K2ZZ7K  A1UQRSCLF8GW1T      5
...            ...             ...    ...
568449  B001EO7N10  A28KG5XORO54AY      5
568450  B003S1WTCU  A3I8AFVPEE8KI5      2
568451  B004I613EE  A121AA1GQV751Z      5
568452  B004I613EE   A3IBEVCTXKNOH      5
568453  B001LR2CU2  A3LGQPJCZVL9UC      5

[568454 rows x 3 columns]

In [12]:
data_cleaned.isnull().sum()

ProductId     0
ReviewerId    0
Score         0
dtype: int64

**Prepareing the Data for the Modelling**

In [13]:
from surprise import Dataset,Reader

In [14]:
reader = Reader(rating_scale=(1,5))
data_for_surprise = Dataset.load_from_df(data_cleaned[['ReviewerId','ProductId','Score']],reader)

print("Data Prepared for Surprise Library:")
data_for_surprise

Data Prepared for Surprise Library:

**Build and Training the Recommendation Model**

In [15]:
from surprise import SVD
from surprise.model_selection import train_test_split

In [16]:
trainset,testset = train_test_split(data_for_surprise,test_size=0.25,random_state=42)

model = SVD()
model.fit(trainset)

print("Model Trained Successfully:")

Model Trained Successfully:

**Evaluating the Model**

In [17]:
from surprise import accuracy

predictions = model.test(testset)

Evaluating_the_model = accuracy.rmse(predictions)

print("Evaluating the model:")
print(Evaluating_the_model)

RMSE: 1.0960
Evaluating the model:
1.0959940482821735

**Generating the Recommendations**

In [20]:
def get_recomandations(user_id,model,data,num_recommandations=5):
  all_products = data['ProductId'].unique()
  rated_products = data[data['ReviewerId'] == user_id]['ProductId'].unique()
  unrated_products = [product for product in all_products if product not in rated_products]

  predictions = [model.predict(user_id,product_id) for product_id in unrated_products]

  recommendations = sorted(predictions,key=lambda x:x.est,reverse=True)

  top_recommendations = recommendations[:num_recommandations]
  top_product_ids = [rec.iid for rec in top_recommendations]

  return top_product_ids


sample_user_id = 'B001EO7N10'
recommended_products = get_recomandations(sample_user_id,model,data_cleaned)
print("Recommended Products:")
print(recommended_products)

Recommended Products:
['B000ED9L9E', 'B005EL6VOY', 'B000NMJWZO', 'B000EMAZS6', 'B000RL53PE']